body {
	font-family: "Bitter", "Montserrat", sans-serif;

	font-size: 10.5px;
}

.chart-title {
	font-size: 18px;

	font-family: "TT Hoves", "Montserrat", "Helvectica", sans-serif;
	font-weight: normal;

	margin: 0px 0px 5px 0px;
}

.chart-subtitle {
	font-style: italic;
	font-size: 12px;

	font-family: "TT Hoves Italic", "TT Hoves", "Montserrat", "Helvectica", sans-serif;
	font-weight: 400;

	margin: 0px 0px 5px 0px;
}

.caption {
	font-size: 10.5px;
	font-family: "Bitter", sans-serif;
}

.tooltip {
	font-family: Bitter, sans-serif;
	background-color: white;
	border: 2px solid dimgray;
	border-radius: 5px;
	padding: 5px;
	font-size: 14px;
}

.tooltip p {
	margin: 0px;
	padding: 0px;
}

.tick text {
	font-family: Bitter;
	font-size: 10.5px;
}

#chart {
	width: 90%;
	margin: 0 auto;
	border: 2px solid #d0d2ce;
	border-radius: 5px;
	padding: 10px 10px 5px 10px;
	max-width: 1047px;
}


.tooltip {
	max-width: 400px;
}

#chart #median-anno {
	text-align: center;
	font-family: "Bitter", sans-serif;
}

/*#median-anno foreignObject {
	border: 1px solid gray;
}
*/


@font-face {
  font-family: 'TT Hoves';
  font-weight: normal;
  font-style: normal;
  src: local('TT Hoves'),
    url('https://cori-risi-apps.s3.amazonaws.com/fonts/TypeType - TT Hoves Regular.ttf') format('truetype'),
    url('https://cori-risi-apps.s3.amazonaws.com/fonts/TTHoves-Regular/font.woff') format("woff"),
    url('https://cori-risi-apps.s3.amazonaws.com/fonts/TTHoves-Regular/font.woff2') format("woff2");
}

@font-face {
  font-family: 'TT Hoves Bold';
  font-weight: bold;
  font-style: normal;
  src: local('TT Hoves'),
    url('https://cori-risi-apps.s3.amazonaws.com/fonts/TypeType - TT Hoves Bold.ttf') format('truetype'),
  url('https://cori-risi-apps.s3.amazonaws.com/fonts/TTHoves-Bold/font.woff') format("woff"),
  url('https://cori-risi-apps.s3.amazonaws.com/fonts/TTHoves-Bold/font.woff2') format("woff2");
}

@font-face {
  font-family: 'TT Hoves Medium';
  font-weight: 500;
  font-style: normal;
  src: local('TT Hoves'),
    url('https://cori-risi-apps.s3.amazonaws.com/fonts/TypeType - TT Hoves Medium.ttf') format('truetype'),
  url('https://cori-risi-apps.s3.amazonaws.com/fonts/TTHoves-Medium/font.woff') format("woff"),
  url('https://cori-risi-apps.s3.amazonaws.com/fonts/TTHoves-Medium/font.woff2') format("woff2");
}

@font-face {
  font-family: 'TT Hoves Italic';
  font-weight: normal;
  font-style: italic;
  src: local('TT Hoves'),
    url('https://cori-risi-apps.s3.amazonaws.com/fonts/TypeType - TT Hoves Italic.ttf') format('truetype'),
    url('https://cori-risi-apps.s3.amazonaws.com/fonts/TTHoves-Italic/font.woff') format("woff"),
    url('https://cori-risi-apps.s3.amazonaws.com/fonts/TTHoves-Italic/font.woff2') format("woff2");
}